---
Checks: 'clang-analyzer-*,
         clang-diagnostic-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-narrowing-conversions,
         -cppcoreguidelines-no-malloc,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-owning-memory,
         -cppcoreguidelines-prefer-member-initializer,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-cstyle-cast,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-pro-type-vararg,
         misc-*,
         -misc-include-cleaner,
         -misc-non-private-member-variables-in-classes,
         -misc-no-recursion,
         -misc-use-anonymous-namespace,
         modernize-*,
         -modernize-avoid-bind,
         -modernize-use-designated-initializers,
         -modernize-use-trailing-return-type,
         performance-*,
         readability-*,
         -readability-avoid-const-params-in-decls,
         -readability-avoid-unconditional-preprocessor-if,
         -readability-convert-member-functions-to-static,
         -readability-else-after-return,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-uppercase-literal-suffix,
         bugprone-*,
         -bugprone-assert-side-effect,
         -bugprone-assignment-in-if-condition,
         -bugprone-easily-swappable-parameters,
         -bugprone-casting-through-void,
         -bugprone-narrowing-conversions,
         -bugprone-suspicious-stringview-data-usage'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
FormatStyle:     none
CheckOptions:
#  - key:             readability-identifier-naming.ClassCase
#    value:           lower_case
#  - key:             readability-identifier-naming.EnumCase
#    value:           lower_case
#  - key:             readability-identifier-naming.FunctionCase
#    value:           lower_case
#  - key:             readability-identifier-naming.MemberCase
#    value:           lower_case
#  - key:             readability-identifier-naming.ParameterCase
#    value:           lower_case
#  - key:             readability-identifier-naming.UnionCase
#    value:           lower_case
#  - key:             readability-identifier-naming.VariableCase
#    value:           lower_case
#  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
#    value:           1
#  - key:             readability-redundant-member-init.IgnoreBaseInCopyConstructors
#    value:           1
  - key:             modernize-use-default-member-init.UseAssignment
    value:           1
SystemHeaders:   false
...
